# 조건문

score = 85
90~100 A
80~90 B
      C

In [8]:
score = 85
if score >= 90 and score <= 100 :  
        print("A")
elif score >=80 and score < 90 : 
        print("B")
else : 
        print("C")

B

In [19]:
score = 95   
if score >= 90 :
    
    if score >=97 and score <=100 : print("A+")
    elif score >=94 and score <=96 : print("A0")
    else : print("A-")
        
elif score >= 80 and score < 90 : 
        print("B")
else : 
        print("C")

A0

# 반복문

* for
* while
* do while XXX

In [20]:
5 in [1,2,3,4,5]

True

In [24]:
for n in [1,2,3,4,5]:              #1,2,3,4,5 중에 n을 하나빼고 반복적으로 빼라
        print(n)

1
2
3
4
5

In [33]:
#range(<=시작번호, <끝번호, 증가)  #증가에 아무것도 안적은면 1씩증가
print(range(1, 6, 1))
print(len(range(1, 6, 1)))
print(list(range(1, 6, 1)))
print(list(range(1, 6)))
print(list(range(6)))

range(1, 6)
5
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]

In [30]:
a = 0
sum = 0
for n in range(1, 7, 1):
        a = a + 1
        sum =sum + n
       
        print(sum)

1
3
6
10
15
21

## 이중 for 문
* 구구단출력

2 * 1 = 2  2 * 2 = 4 .... 2 * 9 =18
3 * 1 = 3  3 * 2 = 6 .... 3 * 9 = 27
...
9 * 1 = 9 9 * 2 = 18 ... 9 * 9 = 81

In [56]:
x_list = [2,3,4,5,6,7,8,9]
y_list = [1,2,3,4,5,6,7,8,9]
print("X","*","Y","=","XY")
for x in x_list:
    for y in y_list:
        
        x * y
        print(x,"*",y,"=") 
        print(x*y)

X * Y = XY
2 * 1 =
2
2 * 2 =
4
2 * 3 =
6
2 * 4 =
8
2 * 5 =
10
2 * 6 =
12
2 * 7 =
14
2 * 8 =
16
2 * 9 =
18
3 * 1 =
3
3 * 2 =
6
3 * 3 =
9
3 * 4 =
12
3 * 5 =
15
3 * 6 =
18
3 * 7 =
21
3 * 8 =
24
3 * 9 =
27
4 * 1 =
4
4 * 2 =
8
4 * 3 =
12
4 * 4 =
16
4 * 5 =
20
4 * 6 =
24
4 * 7 =
28
4 * 8 =
32
4 * 9 =
36
5 * 1 =
5
5 * 2 =
10
5 * 3 =
15
5 * 4 =
20
5 * 5 =
25
5 * 6 =
30
5 * 7 =
35
5 * 8 =
40
5 * 9 =
45
6 * 1 =
6
6 * 2 =
12
6 * 3 =
18
6 * 4 =
24
6 * 5 =
30
6 * 6 =
36
6 * 7 =
42
6 * 8 =
48
6 * 9 =
54
7 * 1 =
7
7 * 2 =
14
7 * 3 =
21
7 * 4 =
28
7 * 5 =
35
7 * 6 =
42
7 * 7 =
49
7 * 8 =
56
7 * 9 =
63
8 * 1 =
8
8 * 2 =
16
8 * 3 =
24
8 * 4 =
32
8 * 5 =
40
8 * 6 =
48
8 * 7 =
56
8 * 8 =
64
8 * 9 =
72
9 * 1 =
9
9 * 2 =
18
9 * 3 =
27
9 * 4 =
36
9 * 5 =
45
9 * 6 =
54
9 * 7 =
63
9 * 8 =
72
9 * 9 =
81

In [134]:
for dan in [2,3,4,5,6,7,8,9]:
     for gob in[1,2,3,4,5,6,7,8,9]:
                print(dan,"*",gob,"=",dan*gob,  end="\t")
print("")

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [6]:
# https://wikidocs.net/1028
print("★ 구구단을 출력합니다.\n")
for x in range(2, 10):
    print("------- [" + str(x) + "단] -------")
    for y in range(1, 10):
        print(x, "X", y, "=", x*y)
print("---------------------")

★ 구구단을 출력합니다.

------- [2단] -------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
------- [3단] -------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
------- [4단] -------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
------- [5단] -------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
------- [6단] -------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
------- [7단] -------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
------- [8단] -------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
------- [9단] -------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
---------------------

# for + list

In [135]:
num_list = [1,2,3,4,5]
for n in num_list:
    print(n)

1
2
3
4
5

In [31]:
num_list1 = [1,3,5,7,9,11,13]
for k in num_list1:
    print(k)

1
3
5
7
9
11
13

In [162]:
str_list = ["a","b","c","d","e"]
for i,n in enumerate(str_list):
    print(n, i,str_list[i])

a 0 a
b 1 b
c 2 c
d 3 d
e 4 e

In [9]:
heo_list = ["강호","28살","취준생","파이썬"]
for h,k in enumerate(heo_list):
    print(h,k,heo_list[h])

0 강호 강호
1 28살 28살
2 취준생 취준생
3 파이썬 파이썬

In [13]:
heo_list = ["강호","28살","취준생","파이썬"]
for h in range(1,3):
    print(h,heo_list[h])

1 28살
2 취준생

In [12]:
str1_list = ["a","b","c","d","e"]
for k in range(0,4):
    print(k,str1_list[k])

0 a
1 b
2 c
3 d

In [178]:
list_X = [1,2,3,4,5,6,7,8,9]
list_Y = [1,2,3,4,5,6,7,8,9]
for X in list_X:
    print("----------",X,"단","----------------")
    for Y in list_Y:
        print(X,"*",Y,"=",X*Y, end="\t")
        print("")

---------- 1 단 ----------------
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
---------- 2 단 ----------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
---------- 3 단 ----------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---------- 4 단 ----------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
---------- 5 단 ----------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
---------- 6 단 ----------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
---------- 7 단 ----------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
---------- 8 단 ----------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
---------- 9 단 ----------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
print("a", end=',')
print("b")

print("a","b")
print("a",",","b")

In [11]:
i = 0     # 초기화
sum = 0   # 초기화

print("i sum")
while (sum < 20):  # 조건 검사
    i = i + 1      # i를 1씩 증가
    sum = sum + i  # 이전의 sum과 현재 i를 더해서 sum을 갱신
    print(i, sum)  # i와 sum을 출력

i sum
1 1
2 3
3 6
4 10
5 15
6 21

In [56]:
i = 1
while i < 3:
    i = i + 1
    j = 1
    while j < 10:
        print(i, 'X', j, '=', i*j)
        j = j + 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

## 중첩 while 문

In [1]:
곱 = 1
print("구구단을 외자")
while 곱<9:
    곱 = 곱+1
    print("--------")
    
    곱2 = 1
    while 곱2<10:
        print(곱,"*",곱2,"=",곱*곱2,end="\t")
        곱2 = 곱2 + 1
        print("")

구구단을 외자
--------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [200]:
dan = 1

while dan < 10:
    dan = dan + 1
    print("------- " + str(dan) + "단 -------")
    gob = 1
    
    while gob < 10:
        print(dan,"*",gob,"=",dan * gob, end="\t")
        gob = gob + 1
        print("")

------- 2단 -------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
------- 3단 -------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
------- 4단 -------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
------- 5단 -------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
------- 6단 -------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
------- 7단 -------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
------- 8단 -------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
------- 9단 -------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
------- 10단 -------
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

### for 한줄표현

In [88]:
numbers = [1,2,3,4,5]
for i in numbers:
    print(i)

1
2
3
4
5

In [90]:
temp = [i for i in numbers]  # 한줄표현
print(temp)

[1, 2, 3, 4, 5]

In [101]:
numbers = [1,2,3,4,5]          # 하드코딩...
for i in numbers:
    if i==1:
        print(i,"홀수")
    elif i==3:
        print(i,"홀수")
    elif i==5:
        print(i,"홀수")

1 홀수
3 홀수
5 홀수

In [102]:
numbers = [1,2,3,4,5]          
for i in numbers:
    if (i%2) == 1:
        print(i, "홀수")

1 홀수
3 홀수
5 홀수

In [118]:
numbers = [1,2,3,4,5,6,7,8,9,10,11]
print([str(i)+"-홀수" for i in numbers if i%2 == 1])

['1-홀수', '3-홀수', '5-홀수', '7-홀수', '9-홀수', '11-홀수']

In [127]:
numbers = [1,2,3,4,5]          
for i in numbers:
    if (i%2) == 1:
        print(i, "홀수")
    else:
        print(i,"짝수")

1 홀수
2 짝수
3 홀수
4 짝수
5 홀수

In [133]:
print([str(i)+"-홀수" if i%2 == 1 else str(i)+"-짝수" for i in numbers ])  #else 가 나올때 에는 포 문 앞으로 입력시킨다

['1-홀수', '2-짝수', '3-홀수', '4-짝수', '5-홀수']

['1-홀수', '2-짝수', '3-홀수', '4-짝수', '5-홀수', '6-짝수']

In [120]:
i = 5
if (i%2) == 1:
    print(i,"홀수")
else:
    print(i,"짝수")

5 홀수

In [123]:
AAA="홀수" if (i%2) == 1 else "짝수"
print(AAA)

홀수

In [135]:
numbers = [-1,1,2,3,4,5,6,7,8,9]          
for i in numbers:
    if (i<0):
        print("음수")
    elif (i>0) and (i%2) == 1:
        print("홀수")
    else:
        print("짝수")

음수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수

In [140]:
numbers = [1,2,3,4,5,6]          
for i in numbers:
    if (i%3) == 1:
        print(i)
    elif (i%3) == 2:
        print(i)
    else:
        print("박수")

1
2
박수
4
5
박수

In [160]:
print([i if (i%3) ==1 else (i if (i%3) == 2  else  "박수")  for i in numbers ]) #한줄표현,,,

[1, 2, '박수', 4, 5, '박수']

In [219]:
numbers = [1,2,3,4,5,6,7,8,9]
for n in numbers:
    if (n%3) == 1:
        print(n, end="")
    elif (n%3) == 2:
        print(n, end="")
    else:
        print("박수", end="")

12박수45박수78박수

In [225]:
print([n if (n%3) == 1  else(n if (n%3) == 2  else "박수") for n in numbers])

[1, 2, '박수', 4, 5, '박수', 7, 8, '박수']